@using MediatR
@using eShop.AdminApp.Application.Commands.Customer.CreateCustomer
@using eShop.AdminApp.Application.Commands.Customer.UpdateCustomer
@using eShop.AdminApp.Application.Queries.Customer.GetCustomer
@using eShop.MasterData.Contracts
@using eShop.ServiceInvocation.MasterDataApiClient
@inject IMasterDataApiClient MasterDataService
@inject IMediator Mediator
@inject NavigationManager Navigation
@inject IToastService ToastService

<FluentStack Orientation="Orientation.Horizontal">
    <div class="tw-w-11/12">
        <h4>General Information</h4>
    </div>
    <div class="tw-w-1/12">
        @if (Customer?.ObjectId != Guid.Empty)
        {
            <FluentIcon Value="@(new Icons.Regular.Size16.Edit())" Class="tw-mx-auto" OnClick="ToggleEdit" />
        }
    </div>
</FluentStack>
@if (editContext is not null)
{
    <EditForm EditContext="@editContext">
        <DataAnnotationsValidator />
        <FluentCard>
            <div>
                <FluentTextField Label="Username" @bind-Value="@Customer!.UserName" ReadOnly="@(!isEditing)" Appearance="@textFieldAppearance" />
            </div>
            <div>
                <FluentTextField Label="First Name" @bind-Value="@Customer.FirstName" ReadOnly="@(!isEditing)" Appearance="@textFieldAppearance" />
            </div>
            <div>
                <FluentTextField Label="Last Name" @bind-Value="@Customer.LastName" ReadOnly="@(!isEditing)" Appearance="@textFieldAppearance" />
            </div>
            <div>
                <FluentTextField Label="Street" @bind-Value="@Customer.Street" ReadOnly="@(!isEditing)" Appearance="@textFieldAppearance" />
            </div>
            <div>
                <FluentTextField Label="Zip Code" @bind-Value="@Customer.ZipCode" ReadOnly="@(!isEditing)" Appearance="@textFieldAppearance" />
            </div>
            <div>
                <FluentTextField Label="City" @bind-Value="@Customer.City" ReadOnly="@(!isEditing)" Appearance="@textFieldAppearance" />
            </div>
            <div>
                <FluentSelect Appearance="@selectListAppearance"
                              Height="250px"
                              Items=@GetCountryOptions()
                              Name="country"
                              Label="Country"
                              TOption="Option<string>"
                              OptionText="@(_ => _.Text)"
                              OptionValue="@(_ => _.Value)"
                              OptionSelected="@(i => i.Value == Customer.Country)"
                              Position="SelectPosition.Above"
                              ReadOnly="@(!isEditing)"
                              Disabled="@(!isEditing)"
                              SelectedOptionChanged="CountryValueChanged"
                              @bind-Value="Customer.Country" />
                <FluentValidationMessage For="@(() => Customer.Country)" />
            </div>
            <div>
                <FluentSelect Appearance="@selectListAppearance"
                              Height="250px"
                              Items=@GetStatesOptions()
                              Name="state"
                              Label="State"
                              Disabled="@(Customer.Country != "US" || !isEditing)"
                              TOption="Option<string>"
                              OptionText="@(_ => _.Text)"
                              OptionValue="@(_ => _.Value)"
                              OptionSelected="@(i => i.Value == Customer.State)"
                              Position="SelectPosition.Above"
                              ReadOnly="@(!isEditing)"
                              @bind-Value="Customer.State" />
                <FluentValidationMessage For="@(() => Customer.State)" />
            </div>
            <div class="tw-mt-4">
                <FluentButton Appearance="Appearance.Accent" Disabled="@(!isEditing)" Type="ButtonType.Submit" OnClick="SaveChanges">@buttonText</FluentButton>
                <FluentButton Appearance="Appearance.Outline" Disabled="@(!isEditing)" OnClick="ToggleEdit">Cancel</FluentButton>
            </div>
        </FluentCard>
    </EditForm>
}
else
{
    <FluentProgressRing></FluentProgressRing>
    <FluentLabel>Loading...</FluentLabel>
}

@code {
    [Parameter]
    public CustomerViewModel? Customer { get; set; }
    private IEnumerable<CountryDto> countries = Array.Empty<CountryDto>();
    private IEnumerable<StateDto> states = Array.Empty<StateDto>();

    private EditContext? editContext { get; set; }
    private ValidationMessageStore? messageStore;
    private bool isEditing;
    private string buttonText = "Update";
    private FluentInputAppearance textFieldAppearance = FluentInputAppearance.Filled;
    private Appearance selectListAppearance = Appearance.Filled;

    protected override async Task OnParametersSetAsync()
    {
        this.countries = await MasterDataService.GetCountries();
        this.states = await MasterDataService.GetStates();

        if (Customer is not null)
        {
            if (Customer.ObjectId == Guid.Empty)
            {
                buttonText = "Add";
                ToggleEdit();
            }

            editContext = new EditContext(Customer);
            messageStore = new(editContext);
        }
    }

    private void ToggleEdit()
    {
        isEditing = !isEditing;
        textFieldAppearance = isEditing ? FluentInputAppearance.Outline : FluentInputAppearance.Filled;
        selectListAppearance = isEditing ? Appearance.Outline : Appearance.Filled;
    }

    private void SaveChanges()
    {
        if (Customer!.ObjectId == Guid.Empty)
        {
            CreateCustomerCommand command = Customer.MapToCreateCustomerCommand();
            Mediator.Send(command);
            Navigation.NavigateTo("/customers");
        }
        else
        {
            UpdateCustomerCommand command = Customer.MapToUpdateCustomerCommand();
            Mediator.Send(command);
            ToggleEdit();
            ToastService.ShowToast(ToastIntent.Success, "Customer updated successfully");
        }
    }

    private List<Option<string>> GetCountryOptions()
    {
        return this.countries.Select(_ => new Option<string>
            {
                Text = _.Name,
                Value = _.Code
            }).ToList();
    }

    private void CountryValueChanged(Option<string> option)
    {
        if (option is null)
            return;

        if (option.Value != "US")
        {
            Customer!.State = null;
        }
    }

    private List<Option<string>> GetStatesOptions()
    {
        if (Customer!.Country != "US")
        {
            return new List<Option<string>>();
        }

        List<Option<string>> options = this.states.Select(_ => new Option<string>
            {
                Text = _.Name,
                Value = _.Code
            }).ToList();

        options.Insert(0, new Option<string> { Text = "Select a state", Value = "" });

        return options;
    }
}
