@page "/customers"
@using MediatR
@using eShop.AdminApp.Application.Commands.Customer.CreateCustomer
@using eShop.AdminApp.Application.Commands.Customer.UpdateCustomer
@using eShop.AdminApp.Application.Queries.Customer.GetCustomers
@using eShop.MasterData.Contracts
@inject IMediator Mediator
@inject IDialogService DialogService
@inject IMasterDataApi MasterDataApi
@inject NavigationManager Navigation

<PageTitle>Customers</PageTitle>

<div class="tw-container tw-p-8">
    <div class="tw-mb-4">
        <FluentToolbar>
            <FluentButton IconStart="@(new Icons.Regular.Size16.PersonAdd())" Appearance="Appearance.Accent" OnClick="AddCustomer">
                Add Customer
            </FluentButton>
        </FluentToolbar>
    </div>
    <div class="tw-border-b tw-border-b-solid tw-border-b-[#dfe3e8] tw-pb-4 tw-mb-4">        
        <h3 class="tw-text-2xl tw-font-medium">Customers</h3>
    </div>
    <div>
        <FluentDataGrid TGridItem="CustomerViewModel" Items="@customers" ShowHover="true" OnRowClick="RowClicked">
            <PropertyColumn Property="@(p => p.FirstName)" Sortable="true" />
            <PropertyColumn Property="@(p => p.LastName)" Sortable="true" />
            <PropertyColumn Property="@(p => p.Street)" Sortable="true" />
            <PropertyColumn Property="@(p => p.ZipCode)" Sortable="true" />
            <PropertyColumn Property="@(p => p.City)" Sortable="true" />
            <PropertyColumn Property="@(p => p.State)" Sortable="true" />
            <PropertyColumn Property="@(p => p.Country)" Sortable="true" />
            
        </FluentDataGrid>
    </div>
</div>

@code {
    private IQueryable<CustomerViewModel>? customers;
    private IEnumerable<CountryDto> countries = Array.Empty<CountryDto>();
    private IEnumerable<StateDto> states = Array.Empty<StateDto>();

    protected override async Task OnInitializedAsync()
    {
        this.countries = await MasterDataApi.GetCountries();
        this.states = await MasterDataApi.GetStates();
        await GetCustomers();
    }

    private async Task GetCustomers()
    {
        this.customers = (await Mediator.Send(new GetCustomersQuery()))
            .Value.AsQueryable();
    }

    private async Task AddCustomer()
    {
        DialogParameters parameters = new()
        {
            Title = "Add Customer",
            Width = "500px",
            TrapFocus = true,
            Modal = true,
            PreventScroll = true
        };

        CustomerViewModel viewModel = new() { NewCustomer = true };
        CustomerDialogContent dialogContent = new(
            viewModel,
            this.countries,
            this.states);

        IDialogReference dialog = await DialogService.ShowDialogAsync<CustomerDialog>(
            dialogContent, parameters);
        DialogResult? result = await dialog.Result;

        if (result.Data is CustomerDialogContent)
        {
            CreateCustomerCommand command = viewModel.MapToCreateCustomerCreateCommand();
            await Mediator.Send(command);

            await GetCustomers();
        }
    }

    private void RowClicked(FluentDataGridRow<CustomerViewModel> row)
    {
        if (row.Item is null)
        {
            return;
        }

        Navigation.NavigateTo($"/customer/{row.Item.ObjectId}");

        // DialogParameters parameters = new()
        //     {
        //         Title = row.Item.FullName,
        //         Width = "500px",
        //         TrapFocus = true,
        //         Modal = true,
        //         PreventScroll = true
        //     };

        // CustomerDialogContent dialogContent = new(row.Item, this.countries, this.states);
        // IDialogReference dialog = await DialogService.ShowDialogAsync<CustomerDialog>(dialogContent, parameters);
        // DialogResult? result = await dialog.Result;

        // if (result.Data is CustomerDialogContent content && content.Model is CustomerViewModel viewModel)
        // {
        //     UpdateCustomerCommand command = viewModel.MapToUpdateCustomerCreateCommand();
        //     await Mediator.Send(command);
        // }
    }
}
